[submodule "api"]
	path = api
	url = https://github.com/lynnmyatminn/noderest.git
	branch = master
[submodule "admin"]
	path = admin
	url = https://github.com/lynnmyatminn/react-crud.git
	branch = master